header {
    /* background: url(/../exercise/microblog1/webroot/img/bg.png);
    background-size: cover; */
    background-color: #4682b4;
    height: calc(30px + 3vw);
    width: 100%;
    display: flex;
}

#profile {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}
#profile_big {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
